<div class="d-flex flex-column ps-5 container-fluid sidebar">
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-person"></i> Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-book"></i> Cours</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-question-circle"></i> Quiz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-gear"></i> Paramètre</a>
    </li>
  </ul>
  <div class="mt-auto">
    <p style="text-align: center">© 2025 Digital Academy.</p>
  </div>
</div>
