<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between p-2 ">
  <img src="assets/image/digitalAcademy.png" style="width: 200px" href="#">
  <div class="ComSearch">
    <form class="flex-column justify-content-between">
      <input type="text" placeholder="Search in Site .." class="input">
      <button type="submit" class="btnSerach"><i  class="bi-search"></i></button>
    </form>
  </div>
  <div class="navheader">
    <ul class="nav nav-pills">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">À Propos</a>
      </li>
    </ul>
  </div>
  <div>
    <button class="btn btn-outline-primary ms-2">Se connecter</button>
    <button class="btn btn-primary ms-2">s'inscrire</button>
  </div>
</nav>
