<!-- question.component.html -->
<div class="modal-header">
  <h5 class="modal-title">Question {{ currentQuestionIndex + 1 }}/{{ questions.length }}</h5>
</div>
<div class="modal-body">
  <h6>{{ questions[currentQuestionIndex].question }}</h6>
  <div *ngFor="let option of questions[currentQuestionIndex].options; let i = index" class="mb-2">
    <button
      class="w-100 text-start p-3 border rounded-2 bg-light"
      [class.btn-primary]="selectedAnswer === i"
      (click)="selectedAnswer = i"
    >
      {{ option.answer }}
    </button>
  </div>
</div>
<div class="modal-footer">
  <button
    class="btn btn-primary"
    (click)="submitAnswer()"
    [disabled]="selectedAnswer === null"
  >
    {{ currentQuestionIndex === questions.length - 1 ? 'Terminer' : 'Suivant' }}
  </button>
</div>
