.page-cours{
  background: white;
  border-radius: 10px;
  padding: 15px 15px 15px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}
