<!--<mat-toolbar color="primary" class="navheader" >-->
<!--  &lt;!&ndash; Logo &ndash;&gt;-->
<!--  <a routerLink="/">-->
<!--    <img src="assets/image/digitalAcademy.png" alt="Logo" height="85" width="276">-->
<!--&lt;!&ndash;    digitalAcademy&ndash;&gt;-->
<!--  </a>-->

<!--  &lt;!&ndash; Liens de navigation &ndash;&gt;-->
<!--  <nav mat-tab-nav-bar>-->
<!--    <a mat-tab-link -->
<!--       *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">-->
<!--      {{ link.label }}-->
<!--    </a>-->
<!--  </nav>-->

<!--  &lt;!&ndash; Boutons &ndash;&gt;-->
<!--  <div>-->
<!--    <button  class="btnLogin" routerLink="/login">-->
<!--      Se connecter-->
<!--    </button>-->

<!--    <button mat-flat-button color="primary" class="ms-2" routerLink="/register">-->
<!--      S'inscrire-->
<!--    </button>-->
<!--  </div>-->
<!--</mat-toolbar>-->









<nav class="nav navbar justify-content-between  navheader p-2 align-content-center">
  <a class="navbar-brand">
    <img src="assets/image/digitalAcademy.png" style="width: 200px" href="#">
  </a>
  <div class="d-none d-md-flex d-lg-flex d-xl-flex ">
    <ul class="nav nav-pills ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">À Propos</a>
      </li>
    </ul>
    <button class="btn btn-outline-primary d-block d-sm-none"><i class="bi bi-menu"></i></button>
  </div>
  <div class="">
    <button (click)=" goToLogin()" class="btn btn-outline-primary ms-2">Se connecter</button>
    <button (click)="goTosignin()" class="btn btn-primary ms-2">s'inscrire</button>
<!--    <div class="dropdown">-->
<!--      <button class="btn btn-light bg-transparent dropdown-toggle d-flex align-items-center gap-2 p-2"-->
<!--              id="profileDropdown"-->
<!--              type="button"-->
<!--              data-bs-toggle="dropdown"-->
<!--              aria-expanded="false">-->
<!--        <img src="favicon.ico" class="rounded-circle border" width="30" height="30" alt="Photo de profil">-->
<!--        <h6 class="mb-0 text-dark">Salim Laghrib</h6>-->
<!--      </button>-->

<!--      <ul class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="profileDropdown">-->
<!--        <li><a class="dropdown-item" href="#"><i class="bi bi-person me-2"></i>Profil</a></li>-->

<!--        <li><a class="dropdown-item" href="#"><i class="bi bi-gear me-2"></i>Paramètres</a></li>-->

<!--        <li><hr class="dropdown-divider"></li>-->
<!--        <li>-->
<!--          <a class="dropdown-item text-danger" href="#">-->
<!--            <i class="bi bi-box-arrow-right me-2"></i>Déconnexion-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->

  </div>
</nav>
